################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/insights_crawl/app/__pycache__
